.share {
  max-width: 147px;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  p {
    display: inline;
    font-family: 'Inter';
    font-weight: 700;
  }

  &__contacts {
    position: relative;
    display: flex;
    margin-top: 18px;
  }

  &__underline {
    position: absolute;
    left: -5px;
    top: 15px;
    width: 100%;
    z-index: -1;

    svg {
      width: 105%;
    }
  }
}